html {
    background-color: black;
    color: aliceblue;

}
.botao {
    margin: 10px 10px;
    color: white ;
    background-color: goldenrod;
    border: solid #cd7f32;
    border-radius: 5px;
    cursor: pointer;
}

.botao-clicado {
    background-color: rgb(59, 59, 113);
    border: solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}