.botao {
    background-color: gold;
    border: solid goldenrod;
    border-radius: 5px;
    cursor: pointer;
}

.clicado {
    background-color: green;
    border: solid black;
    border-radius: 5px;
    cursor: pointer;
}