html {
    background-color: black;
    color: aliceblue;
}

.ragnarok-origin img {
    display: flex;
    justify-self: center;
    max-width: 100%;  /* Responsive width */
    height: auto;      /* Automatic height */
    margin: 0 auto;    /* Center horizontally */
}
.titulo {
        display: flex; /* Make it a flex container */
        justify-content: center; /* Center buttons horizontally */
        margin: 10px 10px;
        padding: 20px 10px;
        font-family: 'Courier New', Courier, monospace 
    }

    .paragrafo {
        display: flex; /* Make it a flex container */
        justify-content: center; /* Center buttons horizontally */
        margin: 10px 10px;
        padding: 20px 10px; /* Add some margin for spacing */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    }

    .botoes {
        display: flex; /* Make it a flex container */
        flex-wrap: wrap;
        justify-content: center; /* Center buttons horizontally */
        margin: 10px 10px;
    }

.botao {
    margin: 30px 30px;
    color: white ;
    background-color: goldenrod;
    border: solid #cd7f32;
    border-radius: 5px;
    cursor: pointer;
}

.botao-clicado {
    background-color: rgb(76, 142, 76);
    border: solid rgb(45, 101, 45);
    border-radius: 5px;
    cursor: pointer;
}